body {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: #011627;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

img {
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

img.icon {
    width: 25px;
    margin-right: 5px;
}

header {
    background: rgba(1, 14, 26, 0.9);;
    border-radius: 30px;
    padding: 5px 0px;
}

footer {
    background: rgba(1, 14, 26, 0.9);;
    border-radius: 30px;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
}

header a {
    color: #fff;
}

header .logo a {
    text-decoration: none;
    font-size: 25px;
}

header .navbar a {
    padding: 0 15px;
}

.main__content {
    padding: 50px 0;
    background: #f5f5f5;
    border-radius: 30px;
    margin: 15px 0;
}

.articles__list .item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 15px;
    background: #fff;
    margin-bottom: 30px;
}

.articles__list .item .img {
    margin-bottom: 15px;
}

.articles__list .item .img img {
    max-width: 100%;
    border-radius: 15px;
}

.articles__list .item .title {
    margin-bottom: 15px;
}

.articles__list .item .title a {
    font-size: 20px;
    text-decoration: none;
    color: #011627;
}

.articles__list .item .date {
    font-style: italic;
    margin-bottom: 15px;
    color: #011627;
}

.article__detail .image img {
    max-width: 100%;
    border-radius: 15px;
}

.main__slider {
    border-radius: 30px;
    margin: 15px 0;
    overflow: hidden;
}

.page-item .page-link {
    color: #011627;
}

.page-item.active .page-link {
    background: rgba(1, 22, 39, 0.9);;
    border-color: #011627;
    font-weight: bold;
}

.top__text {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(1, 14, 26, 0.9);
}

.product__list {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(1, 14, 26, 0.9);
}

.product__list .item {
    box-shadow: 0 0 15px rgba(1, 14, 26, 0.4);
    padding: 10px 15px;
    border-radius: 30px;
    background: #fff;
}

.product__list .item .title a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: rgba(1, 14, 26, 1);
    font-size: 16px;
    font-weight: bold;
}

.product__list .item .image {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 15px;
}

.product__list .item .price__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__list .item .price__block .price {
    font-weight: bold;
    color: #006b1b;
    font-size: 20px;
}

.product__list .item .price__block .button {
    text-align: center;
    padding: 10px 30px;
    color: #eee;
    text-transform: uppercase;
    background: rgba(1, 14, 26, 0.9);
    border-radius: 30px;
    cursor: pointer;
}

.product__detail .content {
    margin-top: 50px;
}

.product__detail .content .tab-content {
    margin: 30px 0;
}

.product__detail .top__block .price__block {
    margin-top: 30px;
    display: flex;
}

.product__detail .top__block .price__block .price {
    font-weight: bold;
    font-size: 25px;
    color: rgba(1, 14, 26, 1);
    margin-right: 25px;
}

.product__detail .top__block .price__block .button {
    text-align: center;
    padding: 10px 30px;
    color: #eee;
    text-transform: uppercase;
    background: rgba(1, 14, 26, 0.9);
    border-radius: 30px;
    cursor: pointer;
}

.product__detail .top__block .announce {
    margin-top: 30px;
}
.product__detail .image {
    border-radius: 30px;
    overflow: hidden;
}