body {
    padding: 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: #011627;
    font-weight: bold;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
img {
    max-width: 100%;
}
.bold {
    font-weight: bold;
}
img.icon {
    width: 25px;
    margin-right: 5px;
}
header {
    background: #010E1A;
    border-radius: 30px;
    padding: 5px 0px;
}
footer {
    background: #010E1A;
    border-radius: 30px;
    padding: 15px 0;
    color: #fff;
    font-size: 20px;
}

header a {
    color: #fff;
}

header .logo a {
    text-decoration: none;
    font-size: 25px;
}
.main__content {
    padding: 50px 0px;
    background: #eee;
    border-radius: 30px;
    margin: 15px 0px;
}
.articles__list .item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 15px;
    background: #fff;
}
.articles__list .item .img {
    margin-bottom: 15px;
}
.articles__list .item .img img {
    max-width: 100%;
    border-radius: 15px;
}
.articles__list .item .title {
    margin-bottom: 15px;
}
.articles__list .item .title a {
    font-size: 20px;
    text-decoration: none;
    color: #011627;
}
.article__detail .image img {
    max-width: 100%;
    border-radius: 15px;
}
.main__slider {
    border-radius: 30px;
    margin: 15px 0;
    overflow: hidden;
}