{% extends 'base.html' %}
{% block seo_title %}{{ about_info.seo_title }}{% endblock %}
{% block seo_description %}{{ about_info.seo_description }}{% endblock %}
{% block seo_keywords %}{{ about_info.seo_keywords }}{% endblock %}

{% block content %}
    <section class="main__content">
        <div class="container">
            <div class="content">
                <h1>{% if about_info.h1 %}{{ about_info.h1 }}{% else %}{{ about_info.name }}{% endif %}</h1>
                {{ about_info.description|safe }}
            </div>


        </div>
    </section>
{% endblock %}