{% extends "base.html" %}
{% block seo_title %}Статьи{% endblock %}
{% block seo_description %}Статьи{% endblock %}
{% block seo_keywords %}Статьи{% endblock %}
{% block content %}
    <section class="main__content">
        <div class="container">
            <h1>Статьи</h1>
            <div class="articles__list">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-3">
                            <div class="item">
                                {% if article.image.url %}
                                    <div class="img"><img src="{{ article.image.url }}" alt="{{ article.name }}"></div>
                                {% endif %}
                                <div class="title"><a
                                        href="{% url 'blog_detail' slug=article.slug %}">{{ article.name }}</a></div>
                                <div class="date">{{ article.date }}</div>
                                <div class="announce">{{ article.announce }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if end_page >= 2 and show_all != "Y" %}
                    <nav class="">
                        <ul class="pagination">

                            <li class="page-item"><a class="page-link" href="{% url 'blog_index' %}"><<</a></li>
                            {% for i in range_pages %}
                                {% if i == current_page %}
                                    <li class="page-item active"><span class="page-link"
                                                                       data-href="{% url 'blog_index' %}?page={{ i }}">{{ i }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% url 'blog_index' %}?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item"><a class="page-link"
                                                     href="{% url 'blog_index' %}?page={{ end_page }}">>></a></li>
                            <li class="page-item"><a class="page-link" href="{% url 'blog_index' %}?show_all=Y">Показать
                                все</a></li>
                        </ul>
                    </nav>
                {% endif %}
            </div>
    </section>
{% endblock %}